.cnx {
  overflow-y: hidden;

  // Page heading
  .row {
    background-image: url("../images/b.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    padding: auto 20px;
  }
  .connexion {
    display: block;
    margin: 50px auto 5%;
    width: 80%;
    max-width: 400px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 123, 255, 0.2);
    transition: box-shadow 0.3s ease-in-out;

    &:focus {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
        0 8px 25px rgba(0, 123, 255, 0.5);
    }
  }

  .btn {
    margin: auto;
    padding: 1% 0;
    width: 80%;
    max-width: 400px;
    font-size: 1rem;
    color: aqua;
    background-color: #096b2b;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(249, 245, 249, 0.2);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
        0 8px 25px rgba(0, 123, 255, 0.5);
    }
  }
  .slider {
    margin: auto;
    top: 10px;
    display: block;
    position: relative;
    .logo {
      margin: auto;
      width: 300px;
      height: auto;
    }
  }
  .footer {
    position: relative;
    padding: 10%;
    background-image: url("../images/b.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    padding: auto;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 250px; // Adjust as needed
    text-align: center;
    animation: fadeInFooter 2s ease-in-out;

    button {
      margin: 5px;
      padding: 1% 0;
      width: 20vh;
      max-width: 200px;
      font-size: 1rem;
      color: aqua;
      background-color: #007bff;
      border: none;
      border-radius: 6px;
      box-shadow: 0 0 5px rgba(249, 245, 249, 0.2);
      transition: box-shadow 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
          0 8px 25px rgba(0, 123, 255, 0.5);
      }
    }
  }
}

// Animation for Footer Fade-in Effect
@keyframes fadeInFooter {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Adjust for smaller screens
@media (max-width: 768px) {
  .cnx {
    .connexion,
    .btn {
      width: 90%;
    }

    .footer {
      height: 200px;
    }
  }
}

@media (max-width: 576px) {
  .cnx {
    .connexion,
    .btn {
      width: 95%;
    }

    .footer {
      height: 180px;
    }
  }
}
