table {
  width: 100%;
  margin: auto; /* Centers the table horizontally */
  border-collapse: separate; /* Use separate borders for spacing */
  border-spacing: 20px; /* Adds space between columns */
  color: #ddd;
  margin-top: 10px;

  th,
  td {
    text-align: center; /* Centers the text horizontally */
    vertical-align: middle; /* Centers the text vertically */
    padding: 8px; /* Reduces padding to minimize column width */
    border: none; /* Remove existing borders */
    color: #fff !important;
    min-width: 80px; /* Set a minimum width for columns if needed */
    position: relative; /* To position pseudo-element for vertical border */
  }

  th {
    color: #ddd;
  }

  .col1 {
    background-color: #716f6f !important;
    border-right: 20px solid #fff; /* White vertical border */
  }

  .col2 {
    background-color: #6b6b6b !important;
    border-right: 20px solid #fff; /* White vertical border */
  }

  .col3 {
    background-color: #5c5c5c !important;
    border-right: 20px solid #fff; /* White vertical border */
  }

  .col4 {
    background-color: #4d4d4d !important;
    border-right: 20px solid #fff; /* White vertical border */
  }

  /* Remove right border for the last column */
  td:last-child,
  th:last-child {
    border-right: 20px solid #fff;
  }
}
